/* src/App.css */

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
}

.grid-item {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    color: #333;
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.grid-item:hover {
    background-color: #ddd;
}

/* Adjust image sizes */
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add some space below the image */
}

.vpc-image,
.cidr-image,
.availability-zone-image {
    width: auto; /* Set the maximum width */
    max-height: 200px; /* Limit the maximum height */
}

.route-table-image,
.public-subnet-image,
.private-subnet-image {
    width: auto; /* Set the maximum width */
    max-height: 300px; /* Limit the maximum height */
}
