/* src/components/Header.css */
.header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: black;
}

.header nav {
    margin-top: 10px;
    color: black;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
    color: black;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
    color: black;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    color: black;
}

.header nav ul li a:hover {
    text-decoration: underline;
}
